---
import { getCollection } from 'astro:content'
import PinecastPlayer from '../components/PinecastPlayer.astro'
import Joke from '../components/Joke.astro'
import Layout from '../layouts/Layout.astro'

export async function getStaticPaths() {
  const episodes = await getCollection('episodes')

  return episodes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
  <main class="main">
    <h1>{entry.data.title}</h1>
    <PinecastPlayer pinecastId={entry.data.pinecastId} />
    <div class="markdown" style={{ marginBottom: '24px' }}>
      <Content />
    </div>
    {
      entry.data.joke && (
        <Joke
          setup={entry.data.joke.setup}
          punchline={entry.data.joke.punchline}
        />
      )
    }
  </main>
</Layout>
