---
import { CollectionEntry, getCollection } from 'astro:content'
import PinecastPlayer from '../components/PinecastPlayer.astro'
import Joke from '../components/Joke.astro'
import Layout from '../layouts/Layout.astro'
import spotify from '../images/spotify.png'
import itunes from '../images/itunes.png'
import robot from '../images/robot.png'
import { Image } from '@astrojs/image/components'
import GreenBlob from '../components/GreenBlob.astro'
import BlueBlob from '../components/BlueBlob.astro'
import PinkBlob from '../components/PinkBlob.astro'
import keysLH from '../images/keys-lh.png'
import keysHeart from '../images/keys-heart.png'
import keysSpace from '../images/keys-space.png'
import Footer from '../components/Footer.astro'
import UnderlinedLink from '../components/UnderlinedLink.astro'
import HomeLink from '../components/HomeLink.astro'

type TranscriptionItem = { speaker?: string; timestamp: string; line: string }

export interface Props {
  entry: CollectionEntry<'episodes'>
  transcription: TranscriptionItem[] | null
}

export async function getStaticPaths() {
  const episodes = await getCollection('episodes')

  return Promise.all(
    episodes.map(async (entry) => {
      let transcription = null
      try {
        const imported = await import(`../transcriptions/${entry.slug}.json`)
        if (imported) transcription = imported.default
      } catch (error: Error) {
        if (!error.message.includes('Unknown variable dynamic import')) {
          throw error
        }
      }
      return {
        params: { slug: entry.slug },
        props: { entry, transcription },
      }
    })
  )
}

const { entry, transcription } = Astro.props
const { Content } = await entry.render()
const intl = new Intl.DateTimeFormat('sv-SE', { dateStyle: 'long' })

const formatTimestamp = (timestamp: string) => {
  const first = timestamp.split(' --> ')[0]
  const withoutMilliseconds = first.split('.')[0]
  return withoutMilliseconds
}

const transcriptionUrl = `https://github.com/anton-g/asdf.pizza/blob/master/src/transcriptions/${entry.slug}.json`
---

<Layout
  title={`avsnitt ${entry.data.number}. ${entry.data.title} - asdf`}
  description={entry.data.description}
>
  <HomeLink class="back-link" />
  <main class="main" style={{ position: 'relative', marginTop: '40px', minHeight: '800px' }} id="top">
    <GreenBlob class="green-blob" />
    <section class="section top-section">
      <h1>{entry.data.number}. {entry.data.title}</h1>
      <time class="date" datetime={entry.data.date.toISOString()}>
        {intl.format(entry.data.date)}
      </time>
      <PinecastPlayer pinecastId={entry.data.pinecastId} />
      <Image src={keysHeart} alt="" class="keys-heart bg-image" />
      <Image src={keysLH} alt="" class="keys-lh bg-image" />
    </section>
    <div class="services">
      <a
        class="spotify"
        href={entry.data.spotifyId
          ? `https://open.spotify.com/episode/${entry.data.spotifyId}`
          : 'https://open.spotify.com/show/48pKe510caxiFkvxtoXJge?si=394f0c14012b4d6d'}
      >
        <Image src={spotify} alt="Lyssna på Spotify" />
      </a>
      <svg xmlns="http://www.w3.org/2000/svg" width="40" viewBox="0 0 82 117" class="top-arrow">
        <path
          d="M44.4403 109.184c.9276.46 2.4275.819 4.4997 1.076 2.0721.256 3.817.404 5.2347.444 1.4176.039 2.8594-.036 4.3253-.224 1.4658-.189 2.6725-.717 3.62-1.584.9475-.867 2.0508-2.076 3.31-3.627 1.2592-1.551 2.5925-3.322 4-5.3124 1.4074-1.991 2.7141-3.9637 3.92-5.9182 1.2058-1.9546 2.0992-3.5494 2.68-4.7846.5808-1.2352-.1092-2.2246-2.07-2.968-1.9608-.7435-3.6908-1.3088-5.19-1.6959-1.4992-.3872-2.8926-.8105-4.18-1.27a353.6038 353.6038 0 0 0-3.94-1.3798c-1.3392-.4604-2.7992-.9233-4.38-1.3889s-3.4142-1.0661-5.5-1.8014c-2.0859-.7354-4.1026-1.4042-6.05-2.0065-1.9475-.6024-3.9918-1.4491-6.1329-2.5403-2.1412-1.0912-4.0976-2.1528-5.8692-3.1848-1.7717-1.032-3.3052-2.0993-4.6006-3.2018-1.2954-1.1026-2.4075-2.2057-3.3361-3.3095-.9287-1.1038-1.6819-2.257-2.2597-3.4594-.5778-1.2025-1.006-2.5107-1.2845-3.9245a42.5916 42.5916 0 0 1-.6184-4.2586 74.4966 74.4966 0 0 1-.278-4.3046 820.325 820.325 0 0 1-.1338-3.9973 144.3318 144.3318 0 0 1-.0647-3.8483 1084.3144 1084.3144 0 0 0-.0217-3.7631c-.009-1.1636-.2368-2.7803-.6836-4.8502-.4468-2.07-.6897-3.206-.7286-3.4082a1.9084 1.9084 0 0 1-.0189-.6098 3.6479 3.6479 0 0 1 .1276-.5967 1.9647 1.9647 0 0 1 .2667-.5488 3.3016 3.3016 0 0 1 .3903-.469c.1411-.1403.3048-.2609.4912-.3619.1863-.101.3741-.179.5635-.2339.1893-.055.3904-.0857.6032-.0923.2128-.0066.4153.0116.6076.0548a2.852 2.852 0 0 1 .5769.1986c.1923.0892.3632.1996.5127.331a3.344 3.344 0 0 1 .4185.444c.1295.1646.2295.3416.3001.5312.0705.1895.0963 1.0533.0775 2.5913-.0189 1.538-.385 2.6585-1.0984 3.3616-.7134.703-1.1674 1.1328-1.3619 1.2894-.1946.1565-.4167.2769-.6665.3612-.2498.0842-.4988.1274-.747.1294-.2482.002-.498-.0366-.7492-.1158-.2513-.0792-.4756-.1956-.673-.349a2.7098 2.7098 0 0 1-.5263-.5456 1.986 1.986 0 0 1-.3246-.6852 2.8563 2.8563 0 0 1-.0888-.7529 1.9715 1.9715 0 0 1 .1563-.7418 2.7536 2.7536 0 0 1 .385-.6531c.1562-.1963.3473-.3616.5733-.496.226-.1344.4599-.2301.7018-.2869.2418-.0569.494-.0729.7566-.0479.2625.0249.5066.0903.7322.1963.2256.1059.436.2458.6313.4197.1952.1738.35.3736.4642.5994.1142.2257.197.4645.2485.7163.0514.2518.0537.5045.0068.7581a2.8133 2.8133 0 0 1-.2357.7205c-.1102.2267-.2614.4292-.4534.6076-.1921.1783-.4.322-.6236.431-.2237.109-.4666.1788-.7287.2094-.2622.0306-.5146.0191-.7573-.0343-.2428-.0535-.4783-.145-.7067-.2744-.2284-.1295-.4225-.2914-.5822-.4856a2.7866 2.7866 0 0 1-.3966-.6461 1.9665 1.9665 0 0 1-.1695-.739 2.8452 2.8452 0 0 1 .0753-.7543c.0585-.2467.1626-.477.3122-.6909.1496-.214.2204-.3205.2125-.3195-.008.0009.1192-.3518.3814-1.058.2622-.7063.3739-1.1603.3351-1.3621a1.9084 1.9084 0 0 1-.0189-.6098 3.6479 3.6479 0 0 1 .1276-.5967 1.9647 1.9647 0 0 1 .2667-.5488 3.3016 3.3016 0 0 1 .3903-.469c.1411-.1403.3048-.2609.4912-.3619.1863-.101.3741-.179.5635-.2339.1893-.055.3904-.0857.6032-.0923.2128-.0066.4153.0116.6076.0548a2.852 2.852 0 0 1 .5769.1986c.1923.0892.3632.1996.5127.331a3.344 3.344 0 0 1 .4185.444c.1295.1646.2295.3416.3001.5312.0706.1899.2463 1.0018.527 2.4356.2806 1.4338.5538 2.6825.8195 3.7461.2656 1.0636.4114 2.1801.4372 3.3496.0258 1.1694.0459 2.4139.0605 3.7333.0145 1.3194.045 2.5732.0915 3.7616.0464 1.1883.1006 2.4643.1624 3.828.0618 1.3636.1565 2.6704.2842 3.9202.1276 1.2498.4342 2.7696.9196 4.5594s1.1021 3.1211 1.8501 3.994c.748.8728 1.6257 1.7517 2.6332 2.6365 1.0074.8848 2.367 1.8131 4.0787 2.7851a162.4617 162.4617 0 0 0 5.3047 2.8803c1.8248.9482 3.756 1.7298 5.7938 2.3447a137.523 137.523 0 0 1 6.02 1.9674c1.9756.6967 3.8056 1.2874 5.49 1.7721 1.6844.4846 3.201.9596 4.55 1.4249 1.3489.4652 2.5956.9025 3.74 1.3118 1.1444.4092 2.4077.8058 3.79 1.1896 1.3822.3838 2.9089.783 4.58 1.1978 1.6711.4147 3.1144 1.0925 4.33 2.0335 1.2156.9409 2.0289 2.233 2.44 3.8764.411 1.6433.2711 3.3758-.42 5.1974s-1.6678 3.7716-2.93 5.8502c-1.2623 2.0785-2.6223 4.1846-4.08 6.3186-1.4578 2.134-2.9777 4.133-4.56 5.997-1.5823 1.864-3.2523 3.396-5.01 4.595-1.7578 1.199-3.6044 1.902-5.54 2.107-1.9356.205-3.6423.26-5.12.164-1.4778-.096-3.0111-.231-4.6-.406-1.589-.175-2.939-.42-4.05-.738-1.1111-.317-2.1411-.711-3.09-1.181-.949-.471-1.5529-.812-1.8119-1.025-.259-.213-.4831-.471-.6721-.775-.1891-.304-.2972-.628-.3243-.973a3.4286 3.4286 0 0 1 .0727-1.024c.0756-.337.2285-.643.4588-.917.2302-.274.4886-.498.775-.672.2864-.174.6108-.282.9732-.324.3624-.043.7019-.019 1.0186.072.3166.092.4833.138.5.139.0166 0 .4836.231 1.4003.691Z"
        ></path>
        <path
          d="M.377 38.2019c.2247-.9332.6376-2.1619 1.2388-3.6862.6012-1.5242 1.4052-3.3766 2.412-5.5572 1.007-2.1805 2.1277-4.436 3.3622-6.7666 1.2345-2.3305 2.4112-4.4626 3.53-6.3962 1.1188-1.9336 2.0955-3.5401 2.93-4.8197.8345-1.2795 1.5912-2.3828 2.27-3.3099.6788-.927 1.4421-1.882 2.29-2.865.8479-.983 2.0079-2.0297 3.48-3.1404C23.3621.5501 24.7621.0612 26.09.194c1.3279.1329 2.6179.8113 3.87 2.0351 1.2521 1.2239 2.3788 2.4704 3.38 3.7395 1.0012 1.2691 2.1045 2.6912 3.31 4.266 1.2055 1.5749 2.6655 3.1955 4.38 4.8617a378.361 378.361 0 0 1 5.01 4.9591c1.6255 1.6398 3.0188 3.1977 4.18 4.6737 1.1612 1.476 1.8279 2.9515 2 4.4264.1721 1.475-.2545 2.9129-1.28 4.3137-1.0255 1.4009-1.6255 2.1774-1.8 2.3296a2.0708 2.0708 0 0 1-.59.3609c-.2188.0884-.4388.1404-.66.1558-.2212.0155-.4512-.0064-.69-.0658-.2388-.0593-.4455-.1527-.62-.2803-.1745-.1275-.3445-.2827-.51-.4656-.1655-.1828-.2755-.3836-.33-.6022a5.0909 5.0909 0 0 1-.12-.6756c-.0255-.2318.0112-.4579.11-.6783a6.6377 6.6377 0 0 1 .31-.6101c.1079-.1863.2712-.3456.49-.4779.2188-.1322.4255-.2308.62-.2957.1945-.0648.4212-.0923.68-.0825.2588.0099.4855.0563.68.1392.1945.083.3912.1985.59.3465.1988.1481.3488.3206.45.5174.1012.1969.1879.4083.26.6342.0721.226.0888.4542.05.6846a3.44 3.44 0 0 1-.18.6632c-.0812.2117-.2079.4026-.38.5726-.1721.1701-.3521.3107-.54.4218-.1879.1112-.4045.1868-.65.2269-.2455.0402-.4721.043-.68.0084-.2079-.0345-.4279-.1049-.66-.2112-.2321-.1062-.4155-.2424-.55-.4085-.1345-.166-.2645-.3538-.39-.5632-.1255-.2094-.1888-.4289-.19-.6587a6.9843 6.9843 0 0 1 .03-.6855c.0212-.2272.1045-.4407.25-.6404.1455-.1996.2021-.2995.17-.2997-.0321-.0001.2879-.5263.96-1.5785.6721-1.0522.4688-2.1635-.61-3.3341-1.0788-1.1705-2.4255-2.5637-4.04-4.1797-1.6145-1.6159-3.3745-3.3549-5.28-5.217-1.9055-1.862-3.4288-3.5903-4.57-5.1849-1.1412-1.5945-2.1712-2.9998-3.09-4.216a498.8656 498.8656 0 0 0-2.64-3.4643c-.8412-1.0934-1.6645-1.24-2.47-.4396-.8055.8004-1.9088 2.0605-3.31 3.7805-1.4012 1.72-2.5179 3.1773-3.35 4.3719-.8321 1.1946-1.7888 2.7305-2.87 4.6075-1.0812 1.8771-2.2445 3.9427-3.49 6.1968-1.2455 2.2542-2.3588 4.4336-3.34 6.5383-.9812 2.1048-1.7745 3.8152-2.38 5.1313-.6055 1.3162-1.0121 2.4381-1.22 3.3659-.2079.9278-.3845 1.5127-.53 1.7547-.1455.242-.3021.4534-.47.6341-.1679.1808-.3912.3162-.67.4063-.2788.0902-.5377.1291-.7767.1167-.239-.0123-.4941-.0759-.7654-.1907-.2713-.1148-.4826-.2711-.634-.4691-.1514-.1979-.2868-.4233-.4063-.6761s-.1584-.5128-.1167-.78c.0417-.2672.048-.401.0193-.4016-.0288-.0005.0835-.467.3369-1.3996Z"
        ></path>
      </svg>
      <span class="services-text">lyssna!</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 43 66" class="bottom-arrow">
        <path
          d="M20.1986 2.6252c.2448.694.5819 2.0896 1.0114 4.187.4295 2.0973.8782 4.7333 1.3463 7.9079.4681 3.1746.8326 6.313 1.0937 9.4151.2611 3.1022.4611 5.9349.6 8.4982.1389 2.5634.1123 4.576-.08 6.0378-.1923 1.4619-.1756 2.525.05 3.1894.2256.6644.3523 1.1367.38 1.4167a3.1014 3.1014 0 0 1-.03.8355 2.2768 2.2768 0 0 1-.29.7829 2.774 2.774 0 0 1-.53.6482 2.454 2.454 0 0 1-.71.4458c-.2656.1101-.5356.1756-.81.1966-.2744.021-.5511-.0033-.83-.0731a2.4958 2.4958 0 0 1-.77-.3353 2.6982 2.6982 0 0 1-.62-.5622 2.462 2.462 0 0 1-.41-.7303 2.594 2.594 0 0 1-.15-.8219 2.5504 2.5504 0 0 1 .12-.8276 2.5585 2.5585 0 0 1 .38-.7465 2.6871 2.6871 0 0 1 .59-.5873 2.4492 2.4492 0 0 1 .75-.3667 2.613 2.613 0 0 1 .83-.1075 2.595 2.595 0 0 1 .82.1628c.2677.0993.5111.238.73.4162a2.489 2.489 0 0 1 .55.6258c.1477.239.2577.4957.33.7701.0723.2744.0923.5523.06.8336a2.9794 2.9794 0 0 1-.21.8099 2.3807 2.3807 0 0 1-.45.7014 2.6124 2.6124 0 0 1-.66.5195 2.589 2.589 0 0 1-.78.2832c-.2723.0515-.5523.0572-.84.0171-.2877-.04-.5544-.1236-.8-.2506a2.6925 2.6925 0 0 1-.67-.4921 2.57 2.57 0 0 1-.49-.6822c-.1256-.2537-.1856-.3805-.18-.3803.0056.0002-.1877-.6672-.58-2.0022-.3923-1.335-.5056-2.6087-.34-3.8212.1656-1.2124.1956-3.0742.09-5.5852-.1056-2.511-.2456-5.2677-.42-8.2703-.1744-3.0025-.4462-6.0605-.8154-9.1741-.3692-3.1135-.6951-5.6175-.9778-7.5121-.2827-1.8947-.5327-3.1919-.7501-3.8918-.2174-.6998-.3456-1.2002-.3847-1.501a2.2138 2.2138 0 0 1 .0638-.8897 2.3107 2.3107 0 0 1 .3994-.7974 2.23 2.23 0 0 1 .6742-.5839 2.2831 2.2831 0 0 1 .8464-.2815 2.2315 2.2315 0 0 1 .8842.064c.29.0803.5567.2135.8.3994.2433.186.4367.4107.58.6743.1433.2635.22.3952.23.395.01 0 .13.3468.36 1.0406h.0086Z"
        ></path>
        <path
          d="M2.3096 43.6833c1.4478-1.3121 3.0912-1.2805 4.9304.0947 1.8391 1.3752 3.442 2.8916 4.8086 4.5493 1.3666 1.6577 2.7337 3.2511 4.1014 4.7804 1.3676 1.5293 2.7276 2.8921 4.08 4.0884 1.3523 1.1963 2.849.9769 4.49-.6583s2.8843-3.3614 3.73-5.1785c.8456-1.8171 1.5923-3.5485 2.24-5.194.6476-1.6455 1.2776-3.248 1.89-4.8073.6123-1.5593 1.3056-3.3771 2.08-5.4532.7743-2.0761 1.4276-3.6736 1.96-4.7924.5323-1.1188.8556-1.7953.97-2.0295.1143-.2342.2876-.4403.52-.6183.2323-.178.459-.3187.68-.422.221-.1033.481-.1638.78-.1815.299-.0177.5656.0084.8.0781.2343.0697.481.1795.74.3294.259.1499.4556.332.59.5464.1343.2144.261.4497.38.706s.1656.5202.14.7917a7.1177 7.1177 0 0 1-.12.7946c-.0544.2582-.1777.4963-.37.7143-.1924.218-.3857.4044-.58.5591-.1944.1547-.4344.2699-.72.3455-.2857.0756-.5524.1075-.8.0956-.2477-.0119-.511-.0666-.79-.1642s-.509-.2332-.69-.4068c-.181-.1736-.3577-.3759-.53-.6069-.1724-.231-.2757-.4788-.31-.7435a6.0426 6.0426 0 0 1-.05-.8021c.001-.2701.071-.529.21-.7768.139-.2478.2856-.4712.44-.6702.1543-.199.3676-.3634.64-.4933.2723-.1299.5256-.2182.76-.2649.2343-.0467.501-.0497.8-.0088.299.0409.5523.1237.76.2484.2076.1247.4243.2846.65.4795.2256.1949.379.4151.46.6604.081.2453.1543.5027.22.7722.0656.2695.0556.5371-.03.803-.0857.2659-.1157.3987-.09.3984.0256-.0003-.3077 1.0738-1 3.2223-.6924 2.1485-1.1857 3.7933-1.48 4.9344-.2944 1.1411-.7477 2.5197-1.36 4.1357-.6124 1.616-1.2457 3.2886-1.9 5.0177-.6544 1.7291-1.421 3.5645-2.3 5.5061-.879 1.9416-1.6624 3.6118-2.35 5.0105-.6877 1.3987-1.501 2.6824-2.44 3.8509-.939 1.1685-2.1957 1.9299-3.77 2.284-1.5744.3541-3.1977.2057-4.87-.4454-1.6724-.6511-3.269-1.6775-4.79-3.0793s-3.001-2.9204-4.44-4.5557a97.1758 97.1758 0 0 1-4.12-5.007c-1.3077-1.7027-2.4044-2.9445-3.29-3.7254-.8857-.7809-.8357-1.1306.15-1.049.9856.0816 1.3856.2852 1.2.6108a2.8152 2.8152 0 0 1-.72.8329c-.2944.2297-.6244.3941-.99.4934-.3657.0993-.7295.1255-1.0914.0788-.362-.0467-.7105-.1627-1.0455-.3478-.335-.1851-.6127-.4256-.833-.7214-.2201-.2958-.3846-.6242-.4932-.9852a2.4814 2.4814 0 0 1-.0788-1.099c.0561-.3717.0794-.5574.0699-.5573-.0096.0001.7143-.6558 2.1716-1.9679Z"
        ></path>
      </svg>
      <a
        class="itunes"
        href={entry.data.itunesId
          ? `https://podcasts.apple.com/se/podcast/asdf/id1506059489?i=${entry.data.itunesId}`
          : 'http://podcasts.apple.com/us/podcast/asdf/id1506059489'}
      >
        <Image src={itunes} alt="Lyssna på iTunes" />
      </a>
    </div>
    <section class="section" style={{ marginBottom: '48px' }}>
      <div class="markdown">
        <Content />
      </div>
    </section>
    <section class="section joke-section">
      {
        entry.data.joke && (
          <Joke
            setup={entry.data.joke.setup}
            punchline={entry.data.joke.punchline}
            author={entry.data.joke.author}
          />
        )
      }
      <div class="blue-blob-wrapper">
        <BlueBlob class="blue-blob" />
      </div>
    </section>
    {
      transcription && (
        <section class="transcription-section">
          <details>
            <summary>
              Transkribering
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 71 8">
                <path
                  fill="#222"
                  stroke="#212121"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M1 2.4c1 0 1.8-.2 2.7-.5 1-.3 1.8-.2 2.4.5.7.6 1.8.7 3.3.1l4-1.6c1.2-.5 2-.4 2.5.5a4 4 0 0 0 2.4 1.8c1.1.4 2.2.1 3.2-.8 1-.8 2-1 2.7-.7.8.5 1.6.7 2.6.8a954.4 954.4 0 0 1 5.7.3c1 0 2-.3 2.9-.6 1-.4 1.9-.2 2.6.4.7.7 1.7.8 2.8.5 1-.3 2-.3 3 0 1 .2 2 .6 3 1.1.9.6 2 .8 3.4.6l3.4-.2c1 0 2.1.1 3.3.5 1.1.4 2.4.8 3.7 1 1.4.4 2.7.4 4 .3a107.9 107.9 0 0 0 5.8-.5s0 0 0 0V6h-.1v.1H70s0 0 0 0H70v-.2s0 0 0 0 0 0 0 0v-.1s0 0 0 0h.2s0 0 0 0 0 0 0 0h.1s0 0 0 0V6s0 0 0 0V6s0 0 0 0v.1h-.1a925.5 925.5 0 0 1-5.6.8c-1.4.1-2.7 0-4-.3a32 32 0 0 1-3.8-1 9.1 9.1 0 0 0-3.2-.6l-2.8.3c-1 .2-2 0-3.2-.3-1.2-.3-2.3-.7-3.4-1.2-1.1-.6-2.2-.6-3.3 0-1 .4-1.8.3-2.4-.5-.6-.7-1.3-1-2.1-.8l-3 .6c-1 .3-2 .3-2.9 0-.9-.2-1.8-.2-2.7 0-1 .3-1.8.2-2.4-.4-.6-.6-1.3-.7-2.1-.3-.8.4-1.8 1-3.1 1.5-1.3.6-2.3.6-3 0a5.9 5.9 0 0 1-1.6-2.3c-.4-.8-1-1-2.2-.5-1 .6-2 1-2.6 1.6-.6.6-1.4 1-2.4 1.3-1 .3-1.7 0-2.3-.9-.5-.9-1.3-1.2-2.3-.8a8 8 0 0 1-2.8.5s0 0 0 0H.8s0 0 0 0v-.1H.7v-.1s0 0 0 0v-.1s0 0 0 0 0 0 0 0H1v-.1H1Z"
                />
              </svg>
            </summary>
            <div class="improve-transcription">
              <Image src={robot} alt="" />
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 78 95">
                <path
                  fill="#1D1D1D"
                  stroke="#1D1D1D"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M43.4 94a67.8 67.8 0 0 1-8.3-2 30.4 30.4 0 0 1-12-5.7 60.8 60.8 0 0 1-9.2-7.3 103.1 103.1 0 0 1-5.1-5.4 53.1 53.1 0 0 1-6.6-12.3l-.8-3.1L1 55v-3A21.3 21.3 0 0 1 2 46a95.8 95.8 0 0 1 2.2-5.5 29 29 0 0 1 3.2-5 44.5 44.5 0 0 1 10.2-9 263.2 263.2 0 0 0 5.4-4 182.3 182.3 0 0 1 6.3-3.6l3.1-1.4 3.4-1.2a60.5 60.5 0 0 1 6.1-1.3 74 74 0 0 0 9.4-1.5 140.8 140.8 0 0 0 6-1.3 53.7 53.7 0 0 1 5.9-1.7l3.4-.8a71.1 71.1 0 0 1 7.6-.2s0 0 0 0 0 0 0 0h-.1s0 0 0 0H74s0 0 0 0 0 0 0 0v-.1s0 0 0 0v-.1s0 0 0 0v-.1s0 0 0 0h.1s0 0 0 0h.1v.1s0 0 0 0v.1s0 0 0 0 0 0 0 0v.1h-.1a59.7 59.7 0 0 0-10.5 2.6 483.3 483.3 0 0 1-12 3 673.5 673.5 0 0 1-6.2 1 103.4 103.4 0 0 1-6 .9 32.5 32.5 0 0 0-9.4 3.1 41.8 41.8 0 0 0-8.9 5.3A138.4 138.4 0 0 0 8.4 36.3 30.2 30.2 0 0 0 5.3 41a62.3 62.3 0 0 0-3 8 21.2 21.2 0 0 0 .1 8.8c.2 1 .4 2 .8 3a74 74 0 0 0 2.5 6 92.2 92.2 0 0 0 3.9 6 58 58 0 0 0 7.9 7.8 37.5 37.5 0 0 0 6.1 4.7 71.2 71.2 0 0 0 9 5A73.7 73.7 0 0 0 39 92a41.2 41.2 0 0 1 4.6 1.7s0 .1 0 0v.1s0 0 0 0h-.1s0 0 0 0h0Z"
                />
                <path
                  fill="#1D1D1D"
                  d="M62.3 19a54.7 54.7 0 0 1 7.8-4.7l3.3-1.8a6 6 0 0 0 2.1-2c.5-.8.1-1.7-1-2.7A20.6 20.6 0 0 0 68.2 4a53 53 0 0 0-3.8-1.6c-1.3-.5-2.6-.9-4-1a117.8 117.8 0 0 1-2.1-.2V.7h.1l.1.1v.2h-.2V1c-.1 0-.1 0 0 0V.7h.2V1.1h-.2V1v.1V.7h.1l2.3-.2c1.5-.2 2.9 0 4.3.5a36.5 36.5 0 0 1 7 3.4c1 .5 2 1.4 3.3 2.7 1.3 1.3 1.6 2.5 1 3.7-.6 1.2-1.4 2-2.4 2.6a162.1 162.1 0 0 0-7 3.8 56 56 0 0 1-4.8 2v-.1l.1-.1Z"
                />
                <path
                  stroke="#1D1D1D"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m58.4 1.1 2.1.2c1.4.1 2.7.5 4 1a53 53 0 0 1 6.8 3.2c1 .5 2 1.3 3.1 2.3 1.2 1 1.6 2 1.1 2.7a6 6 0 0 1-2.1 2 93.6 93.6 0 0 1-6.9 3.8l-4.2 2.8h0s0 0 0 0 0 0 0 0v.1c-.1 0-.1 0 0 0v.1c-.1 0 0 0 0 0s0 0 0 0v.1s0 0 0 0h.1s0 0 0 0h.1l1.4-.6a56 56 0 0 0 6.8-3.5l3.3-1.8c1-.5 1.8-1.4 2.4-2.6.6-1.2.3-2.4-1-3.7A17 17 0 0 0 72 4.5 65.7 65.7 0 0 0 65 1a9.2 9.2 0 0 0-4.3-.5l-2.3.2m0 .3h-.1m0 0s0 0 0 0V1s0 0 0 0 0 .1 0 0v.1h.1s0 0 0 0h.1s0 0 0 0 0 0 0 0V.8s0 0 0 0 0 0 0 0 0 0 0 0V.7m-.2.3s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0V1m0 0s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0V.8m0 0s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0V.7m0 0s0 0 0 0m0 0h.1m0 0s0 0 0 0m0 0s0 0 0 0m0 0s0 0 0 0m0 0 .1.1V1s0 0 0 0v.1s0 0 0 0h-.1s0 0 0 0h-.1s0 0 0 0V1c-.1 0-.1 0 0 0V.8s0 0 0 0 0 0 0 0V.7h.1Z"
                />
              </svg>
              <span>
                Transkriberingen är gjord av nån <span class="ai">"AI-grej"</span>. Du kan förbättra den genom
                att <UnderlinedLink href={transcriptionUrl}>klicka precis här :)</UnderlinedLink>
              </span>
            </div>
            <div class="transcription">
              {transcription.map((item) => (
                <div class="transcription-item">
                  <div>
                    <span class="transcription-timestamp">{formatTimestamp(item.timestamp)}</span>
                  </div>
                  <div>
                    {item.speaker && <div class="transcription-author">{item.speaker}</div>}
                    <div>{item.line}</div>
                  </div>
                </div>
              ))}
            </div>
            <a href="#top" class="to-top-link">
              Tillbaka upp
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 33 48">
                <g fill="#393939" stroke="#393939" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M1.5 42.5c.2.8 1 1.5 2.3 2.1 1.3.7 2.7.8 4.3.4a8 8 0 0 0 3.3-1.5 24.4 24.4 0 0 0 7-10.5 45.2 45.2 0 0 0 2.4-7.7 6724 6724 0 0 1 1.9-7A50.9 50.9 0 0 0 24 8.7s0 0 0 0V9s0 0 0 0V9s0 0 0 0 0 0 0 0v.1h-.1s0 0 0 0 0 0 0 0h-.1V9s0 0 0 0v-.1s0 0 0 0 0 0 0 0v-.1h.1s0 0 0 0h.1s0 0 0 0V9c.1 0 .1 0 0 0V9a27.2 27.2 0 0 1-1 12.7A243 243 0 0 1 18.4 37c-.4 1-1 2-1.7 3a40 40 0 0 1-2 2.5c-.8.9-1.6 1.6-2.5 2.2l-2.7 1.5c-.8.3-2.1.4-3.8.3-1.8-.2-3-.7-3.7-1.5-.7-.8-1-1.4-1-1.9l.1-.6s0 0 0 0v-.1c.1 0 .1 0 0 0h.1s.1 0 0 0c0-.1 0-.1.1 0 0 0 .1 0 0 0 0-.1 0-.1.1 0 0 0 .1 0 0 0h.1s0 0 0 0 0 0 0 0v.1Z" />
                  <path d="M17.1 9.5a138 138 0 0 1 7.4-6.7c.9-.8 2-1.4 3.4-2 1.3-.5 2.3-.1 2.8 1 .6 1.2.9 2.6.9 4.2a106.3 106.3 0 0 1-.4 8.5s0 0 0 0H31v-.1s-.1-.1 0-.1c0 0 0 0 0 0-.1-.1 0-.1 0-.1s0 0 0 0V14h.1s0 0 0 0h.2v.1s0 0 0 0v.2s0 0 0 0 0 0 0 0h-.1c0 .1 0 .1-.1 0 0 0 0 0 0 0 0 .1-.1.1-.1 0 0 0 0 0 0 0s0 0 0 0l-.1-.1-.2-3-.3-5.2a15 15 0 0 0-.5-3.7c-.3-1-1-1.3-2-.8s-2 1.1-3 1.9L22 6a35.7 35.7 0 0 1-5 3.6s0 0 0 0 0 0 0 0v-.1s0 0 0 0l.1-.1h0Z" />
                </g>
              </svg>
            </a>
          </details>
        </section>
      )
    }
    <div class="pink-blob-wrapper">
      <PinkBlob class="pink-blob" />
    </div>
    <Image src={keysSpace} alt="" class="keys-space bg-image" />
    <Footer />
  </main>
</Layout>

<style>
  .date {
    margin-bottom: 4px;
    font-family: 'Shantell Sans', system-ui, sans-serif;
    transform: rotateZ(2deg);
  }
  .top-section {
    margin-bottom: 16px;
  }

  .to-top-link {
    font-family: 'Shantell Sans', system-ui, sans-serif;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding-top: 16px;
    width: fit-content;
    margin-left: auto;
    margin-top: 24px;
  }
  .to-top-link svg {
    width: 36px;
    margin-top: -16px;
  }

  .services {
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'wght' 450;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    width: fit-content;

    position: absolute;
    right: -140px;
    top: 360px;
  }

  .bottom-arrow {
    transform: rotateZ(-24deg);
  }

  .top-arrow {
    margin-bottom: -28px;
    margin-right: -80px;
    transform: rotateZ(-15deg);
  }

  .itunes {
    margin-right: -120px;
  }

  .green-blob {
    top: -500px;
    left: -590px;
    transform: rotateZ(-20deg);
  }
  .joke-section {
    z-index: -2;
  }
  .blue-blob-wrapper {
    position: absolute;
    top: -1000px;
    right: -860px;
    width: 960px;
    height: 1100px;
    overflow: hidden;
    z-index: -1;
  }
  .blue-blob {
    margin-left: 50px;
    transform: rotateZ(5deg);
  }

  .pink-blob-wrapper {
    position: absolute;
    bottom: 0;
    left: -1100px;
    width: 1110px;
    height: 500px;
    z-index: -1;
    overflow: hidden;
  }
  .pink-blob {
  }

  .keys-heart {
    width: 160px;
    top: 150px;
    left: -320px;
  }

  .keys-lh {
    width: 450px;
    top: 250px;
    right: -380px;
  }

  .keys-space {
    width: 250px;
    bottom: 80px;
    left: -520px;
  }

  .transcription {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 18px;
  }
  .transcription-item {
    display: flex;
    gap: 12px;
  }
  .transcription-timestamp {
    opacity: 0.6;
  }
  .transcription-author {
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'wght' 400;
  }
  .transcription-line {
  }
  details {
    position: relative;
  }
  details > summary {
    list-style: none;
    cursor: pointer;
    font-family: 'Shantell Sans', system-ui, sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  details > summary svg {
    width: 80px;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%23222' stroke='%23222' stroke-linecap='round' stroke-linejoin='round' d='M1.5.8A28 28 0 0 0 5 2.5l3.4 1.4c1.1.5 2 1.1 2.7 1.8.7.6.4 1.3-.8 2A52 52 0 0 1 3 11s0 0 0 0h-.1s0 0 0 0 0 0 0 0h-.1s0 0 0 0V11s0 0 0 0v-.1s0 0 0 0 0 0 0 0l2.8-1.4a8 8 0 0 0 3.6-3c.5-1 .3-1.7-.9-2.1a800 800 0 0 0-6-2.7 4.5 4.5 0 0 1-1-.6s0 0 0 0V1s0 0 0 0V.8c.1 0 .1 0 0 0 0 0 0 0 0 0h.1V.7h.1s0 0 0 0h.1Z'/%3E%3C/svg%3E");
    width: 12px;
    height: 24px;
    display: inline-block;
    transition: transform 200ms;
  }
  details[open] summary:before {
    transform-origin: center center;
    transform: rotateZ(90deg);
  }

  .improve-transcription {
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'wght' 400;
    max-width: 330px;
    position: absolute;
    left: -350px;
    top: 100px;
    display: flex;
    flex-direction: column;
  }
  .improve-transcription > span {
    transform: rotateZ(2deg);
  }
  .improve-transcription .ai {
    font-variation-settings: 'ital' 1, 'wght' 500;
  }
  .improve-transcription svg {
    width: 80px;
    margin-left: -54px;
    margin-bottom: -36px;
  }
  .improve-transcription img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 120px;
    height: auto;
    transform: rotateZ(-2deg);
    margin-left: 36px;
    margin-bottom: -50px;
  }

  .transcription-section {
    margin-top: 64px;
  }

  .back-link {
    left: 16px;
    top: 16px;
  }

  @media (max-width: 1300px) {
    .improve-transcription {
      position: static;
      flex-direction: row-reverse;
      margin-top: 24px;
      margin-bottom: 36px;
    }
    .improve-transcription svg {
      display: none;
    }
    .improve-transcription img {
      margin-bottom: 0;
      margin-left: 0;
      width: 80px;
    }
  }

  @media (max-width: 1050px) {
    .services {
      position: static;
      flex-direction: row;
      transform-origin: top left;
      transform: scale(0.9);
    }
    .top-arrow,
    .bottom-arrow {
      display: none;
    }
    .itunes {
      margin-right: 0;
    }
    .services-text {
      display: none;
    }
  }
</style>
