---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { Image } from '@astrojs/image/components'
import back from '../images/back.png'

const episodes = await getCollection('episodes')

const sortedEpisodes = episodes
  .slice()
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<Layout title="avsnitt">
  <a href="/">
    <Image src={back} alt="go back to home" width={200} />
  </a>
  <main class="main">
    <h1>alla våra avsnitt</h1>
    <ul>
      {
        sortedEpisodes.map((episode) => (
          <li>
            <a href={`/${episode.slug}`}>{episode.data.title}</a>
            <time datetime={episode.data.date.toISOString()}>
              {episode.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
