---
import { Image } from '@astrojs/image/components'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import logo from '../images/logo.png'
import latestEpisodeHeading from '../images/latest-episode.png'
import moreEpisodesHeading from '../images/more-episodes.png'
import allEpisodes from '../images/all-episodes.png'

const episodes = await getCollection('episodes')

const sortedEpisodes = episodes
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 11)
const [latestEpisode, ...restEpisodes] = sortedEpisodes
const { Content: LatestEpisodeContent } = await latestEpisode.render()
---

<Layout title="asdf - en liten podd om kod o sånt">
  <main class="main">
    <Image src={logo} width={500} alt="asdf logo" />
    <!-- <Image src={latestEpisodeHeading} width={300} alt="Senaste avsnittet" /> -->
    <section class="section">
      <h2 class="latest-episode-title">Senaste avsnittet</h2>
      <div class="latest-episode markdown">
        <h2>{latestEpisode.data.title}</h2>
        <LatestEpisodeContent />
      </div>
    </section>

    <section class="section">
      <!-- <Image src={moreEpisodesHeading} width={300} alt="Senaste avsnittet" /> -->
      <h2>Lite fler avsnitt</h2>
      <ul>
        {
          restEpisodes.map((episode) => (
            <li>
              <a href={`/${episode.slug}`}>{episode.data.title}</a>
              <time datetime={episode.data.date.toISOString()}>
                {episode.data.date.toDateString()}
              </time>
            </li>
          ))
        }
      </ul>
      <a href="/avsnitt">
        Ännu fler avsnitt
        <!-- <Image src={allEpisodes} width={200} alt="Senaste avsnittet" /> -->
      </a>
    </section>
  </main>
  <div class="pink-blob">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117 115">
      <path
        fill="currentColor"
        d="M71 33c8 9 21 7 30 11s14 15 15 26c1 12-2 25-10 33s-20 12-31 12c-12 0-22-6-27-13-6-8-7-18-13-24-7-6-19-8-26-15-8-7-11-19-7-28 4-8 14-14 25-22C37 6 46-3 53 2s10 23 18 31Z"
      >
      </path>
    </svg>
  </div>
  <div class="blue-blob">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 112 139">
      <path
        fill="currentColor"
        d="M79 29c14 12 33 18 33 26-1 8-19 18-32 23s-20 5-30 18c-11 14-24 40-34 42-10 3-17-17-15-34 2-16 14-28 21-36s9-12 13-26c3-14 7-38 14-41s16 16 30 28Z"
      >
      </path>
    </svg>
  </div>
</Layout>

<style>
  .section {
    margin-bottom: 64px;
    width: 100%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
  }
  .latest-episode-title {
    margin-top: 80px;
    margin-right: auto;
    margin-left: -60px;
    transform: rotateZ(-15deg);
    font-variation-settings: 'BNCE' -50, 'wght' 300;
  }
  .pink-blob {
    position: absolute;
    top: -85%;
    left: -20%;
    z-index: -1;
    width: 1200px;
    aspect-ratio: 1 / 1;
    color: #e59b96;
  }
  .blue-blob {
    position: absolute;
    top: 80%;
    left: -20%;
    z-index: -1;
    width: 700px;
    aspect-ratio: 1 / 1;
    color: #84c6c5;
  }
</style>
