---
import { Image } from '@astrojs/image/components'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import logo from '../images/logo.png'
import latestEpisodeHeading from '../images/latest-episode.png'
import moreEpisodesHeading from '../images/more-episodes.png'
import allEpisodes from '../images/all-episodes.png'
import PinecastPlayer from '../components/PinecastPlayer.astro'

const episodes = await getCollection('episodes')

const sortedEpisodes = episodes
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 11)
const [latestEpisode, ...restEpisodes] = sortedEpisodes
const { Content: LatestEpisodeContent } = await latestEpisode.render()
---

<Layout title="asdf - en liten podd om kod o sånt">
  <main class="main">
    <Image src={logo} width={500} alt="asdf logo" class="logo" />
    <!-- <Image src={latestEpisodeHeading} width={300} alt="Senaste avsnittet" /> -->
    <section class="section latest-episode">
      <div class="latest-episode-title">
        <svg width="190" height="130" viewBox="0 0 106 80">
          <path
            id="curve"
            d="M1 100.9355C1 100.9355 30.2419 28.9202 54 22.9353C80.2475 6.72456 125 12.43576 125 12.43576"
            fill="transparent"></path>
          <text x="24">
            <textPath xlink:href="#curve">Senaste avsnittet</textPath>
          </text>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="70"
          height="70"
          viewBox="0 0 104 72"
          style={{
            marginTop: -15,
          }}
        >
          <path
            d="M1.481 16.598c.243-.242.747-.33 1.51-.265s1.645.355 2.644.869c1 .514 1.858.943 2.575 1.288.717.345 1.49.749 2.32 1.212.83.463 1.653.87 2.47 1.218a362 362 0 0 0 2.86 1.203c1.09.453 2.263.962 3.52 1.527 1.257.565 2.61 1.196 4.06 1.894a269.856 269.856 0 0 0 8.98 4.125c1.57.688 3.126 1.34 4.67 1.954a79 79 0 0 0 5 1.786c1.79.576 3.57 1.073 5.34 1.49 1.77.417 3.557.803 5.36 1.157 1.803.354 3.52.62 5.15.8 1.63.18 3.307.318 5.03.417 1.723.099 3.386.14 4.99.124 1.604-.016 3.3-.158 5.09-.426a23.932 23.932 0 0 0 5.18-1.377 57.029 57.029 0 0 0 5.2-2.358 54.731 54.731 0 0 0 5-2.882c1.53-1 2.947-2.066 4.25-3.2 1.303-1.134 2.43-2.258 3.38-3.371a28.139 28.139 0 0 0 2.43-3.266 18.85 18.85 0 0 0 1.63-3.207c.417-1.074.727-2.085.93-3.032a5.68 5.68 0 0 0-.09-2.797 12.637 12.637 0 0 0-1.09-2.636c-.464-.84-1.124-1.602-1.98-2.286a23.919 23.919 0 0 0-2.71-1.874 14.686 14.686 0 0 0-3.12-1.38c-1.13-.355-2.2-.589-3.21-.702a17.97 17.97 0 0 0-3.07-.078c-1.036.061-1.983.259-2.84.592-.857.333-1.77.8-2.74 1.401-.97.6-1.82 1.336-2.55 2.205a23.52 23.52 0 0 0-2.08 2.923 16.83 16.83 0 0 0-1.57 3.35c-.39 1.154-.767 2.32-1.13 3.496a16.753 16.753 0 0 0-.69 3.653 105.537 105.537 0 0 1-.36 3.773 19.102 19.102 0 0 0-.06 3.741c.103 1.237.163 2.476.18 3.716.017 1.24.11 2.383.28 3.428.17 1.045.28 2.107.33 3.186.05 1.079.144 2.18.28 3.303a17.47 17.47 0 0 1 .06 3.493 49.722 49.722 0 0 0-.16 3.46 27.622 27.622 0 0 1-.19 3.076c-.116.95-.113 1.857.01 2.722s.193 1.687.21 2.465c.017.778.114 1.616.29 2.513.176.897.223 1.416.14 1.557a.593.593 0 0 0-.09.407c.023.13-.047.25-.21.357-.163.107-.27.197-.32.27-.05.073-.18.124-.39.154-.21.03-.346.038-.41.023a9.082 9.082 0 0 1-.4-.111c-.203-.06-.32-.137-.35-.234-.03-.097-.114-.207-.25-.331-.136-.124-.183-.256-.14-.395a.691.691 0 0 0 0-.416c-.043-.138.004-.27.14-.395s.22-.236.25-.332c.03-.096.144-.174.34-.234.196-.06.33-.097.4-.112s.21-.007.42.022c.21.03.34.08.39.154.05.073.157.163.32.27.163.107.233.226.21.357a.588.588 0 0 0 .09.406c.083.14.07.278-.04.415-.11.137-.17.263-.18.378-.01.115-.107.215-.29.302a2.357 2.357 0 0 0-.36.196c-.057.044-.194.066-.41.067-.216 0-.356-.022-.42-.067a2.828 2.828 0 0 0-.36-.195c-.176-.085-.273-.185-.29-.302a.85.85 0 0 0-.18-.378c-.103-.135-.12-.203-.05-.203.07 0 .023-.449-.14-1.347a16.513 16.513 0 0 1-.27-2.596 28.22 28.22 0 0 0-.19-2.662c-.11-.942-.106-1.9.01-2.876.116-.975.183-1.993.2-3.054.017-1.06.074-2.159.17-3.294a16.79 16.79 0 0 0-.04-3.32 53.817 53.817 0 0 1-.27-3.252 31.515 31.515 0 0 0-.34-3.249 24.082 24.082 0 0 1-.27-3.531 97.387 97.387 0 0 0-.11-3.872 23.354 23.354 0 0 1 .14-3.907c.156-1.301.29-2.628.4-3.98.11-1.352.364-2.663.76-3.933s.806-2.53 1.23-3.78a17.271 17.271 0 0 1 1.8-3.708 31.448 31.448 0 0 1 2.43-3.344 11.9 11.9 0 0 1 3.01-2.561c1.163-.7 2.27-1.246 3.32-1.637C83.5.357 84.63.135 85.84.082a19.729 19.729 0 0 1 3.53.155c1.144.156 2.364.443 3.66.861 1.296.418 2.48.947 3.55 1.587 1.07.64 2.134 1.392 3.19 2.256 1.056.864 1.879 1.841 2.47 2.931a14.177 14.177 0 0 1 1.33 3.512c.296 1.251.309 2.457.04 3.618a25.098 25.098 0 0 1-1.1 3.512 21.789 21.789 0 0 1-1.83 3.582 33.585 33.585 0 0 1-2.64 3.624c-1.004 1.209-2.21 2.444-3.62 3.705a38.887 38.887 0 0 1-4.52 3.48 52.483 52.483 0 0 1-5.27 3.033 55.33 55.33 0 0 1-5.66 2.483 26.982 26.982 0 0 1-5.68 1.44 41.387 41.387 0 0 1-5.4.42 75.996 75.996 0 0 1-5.16-.143 91.056 91.056 0 0 1-5.23-.469 61.318 61.318 0 0 1-5.32-.881 130.504 130.504 0 0 1-5.5-1.279 74.25 74.25 0 0 1-5.5-1.634 86.555 86.555 0 0 1-5.09-1.897 148.656 148.656 0 0 1-4.7-2.029 367.875 367.875 0 0 1-4.6-2.118 250.27 250.27 0 0 1-4.38-2.105 194.544 194.544 0 0 0-3.98-1.91 123.43 123.43 0 0 0-3.49-1.562c-1.09-.466-2.073-.894-2.95-1.283a32.636 32.636 0 0 1-2.52-1.248 68.226 68.226 0 0 0-2.3-1.215c-.73-.367-1.65-.893-2.76-1.577-1.11-.684-1.59-1.014-1.44-.989.15.025.16.094.03.208-.13.114-.236.209-.32.284-.084.075-.224.121-.42.137-.196.016-.337.006-.423-.03a4.863 4.863 0 0 1-.388-.194c-.173-.093-.267-.203-.284-.328a1.315 1.315 0 0 0-.137-.411.402.402 0 0 1 .03-.433c.095-.14.115-.211.06-.213-.055-.002.066-.123.363-.364Z"
          ></path>
          <path
            d="M59.375 57.568c-.203-.388-.06-.92.428-1.595.489-.675 1.074-.824 1.755-.445.681.379 1.401.992 2.16 1.839.759.847 1.409 1.67 1.95 2.47.541.8 1.088 1.64 1.64 2.523.552.883 1.095 1.71 1.63 2.48.535.77 1.058 1.404 1.57 1.9s1.232 1.025 2.16 1.587c.928.562 1.725.45 2.39-.337s1.175-1.572 1.53-2.357c.355-.785.768-1.66 1.24-2.624.472-.965.935-1.898 1.39-2.8.455-.902.958-1.685 1.51-2.35s1.109-1.332 1.67-2.001c.561-.67.885-1.04.97-1.11.085-.07.175-.127.27-.17a.96.96 0 0 1 .63-.047c.101.027.201.07.3.129.099.059.175.13.23.216.055.085.108.179.16.281a.552.552 0 0 1 .06.317c-.012.11-.029.215-.05.318a.667.667 0 0 1-.14.287 1.323 1.323 0 0 1-.23.225 1.017 1.017 0 0 1-.61.182 1.032 1.032 0 0 1-.59-.223 1.298 1.298 0 0 1-.22-.241.665.665 0 0 1-.12-.296 2.147 2.147 0 0 1-.02-.321.683.683 0 0 1 .08-.312c.052-.1.109-.189.17-.269a.716.716 0 0 1 .25-.2 1.022 1.022 0 0 1 .63-.114.828.828 0 0 1 .3.096c.088.05.175.113.26.19a.744.744 0 0 1 .19.262c.041.097.071.2.09.308a.792.792 0 0 1-.01.322 1.317 1.317 0 0 1-.11.3c-.048.093-.078.14-.09.142-.012.001-.282.344-.81 1.028a79.648 79.648 0 0 1-1.47 1.852c-.452.55-.885 1.276-1.3 2.175-.415.9-.851 1.83-1.31 2.791a87.296 87.296 0 0 0-1.25 2.733c-.375.86-.755 1.595-1.14 2.204-.385.609-.979 1.19-1.78 1.742-.801.553-1.721.658-2.76.317-1.039-.341-1.842-.74-2.41-1.196a25.312 25.312 0 0 1-1.78-1.586 12.31 12.31 0 0 1-1.72-2.117c-.528-.81-1.071-1.648-1.63-2.513a372.82 372.82 0 0 0-2.04-3.119c-.801-1.214-1.411-2.224-1.83-3.029-.419-.805-.512-1.073-.28-.802.232.27.349.474.35.61.001.136.025.275.07.417.045.142.009.279-.11.41a1.665 1.665 0 0 0-.25.339c-.048.095-.168.167-.36.216-.192.05-.33.07-.414.062a2.25 2.25 0 0 1-.41-.103c-.19-.06-.302-.145-.339-.252-.037-.107-.085-.16-.144-.16-.06 0-.161-.193-.306-.581Z"
          ></path>
        </svg>
      </div>
      <div class="latest-episode">
        <h2>{latestEpisode.data.title}</h2>
        <PinecastPlayer pinecastId={latestEpisode.data.pinecastId} />
        <div class="markdown">
          <LatestEpisodeContent />
        </div>
      </div>
      <aside class="more-episodes-cta">
        <div style={{ marginLeft: 'auto' }}>
          pssst! <br />fler avsnitt <br />här nere!
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="140"
          viewBox="0 0 189 150"
        >
          <path
            d="M184.59 2.238c.127.788.224 1.603.29 2.445.066.843.196 1.963.39 3.36.194 1.398.388 2.48.58 3.244.192.765.549 1.848 1.07 3.25.521 1.401.851 2.601.99 3.6.139.997.259 2.019.36 3.064.101 1.044.094 2.13-.02 3.259a39.783 39.783 0 0 0-.2 3.287 158.707 158.707 0 0 1-.1 3.418 78.934 78.934 0 0 1-.25 3.84 25.701 25.701 0 0 1-.72 4.125 56.232 56.232 0 0 1-1.19 4.026 79.96 79.96 0 0 0-1.19 3.829 53.164 53.164 0 0 1-1.23 3.793 67.175 67.175 0 0 1-1.461 3.66 213.94 213.94 0 0 1-1.562 3.507 35.78 35.78 0 0 1-1.835 3.484 315.835 315.835 0 0 1-1.964 3.25c-.611.997-1.214 1.956-1.808 2.878-.594.921-1.245 1.893-1.952 2.915a153.41 153.41 0 0 1-2.222 3.129 61.31 61.31 0 0 1-2.381 3.061 76.35 76.35 0 0 1-2.668 3.033 78.221 78.221 0 0 0-2.753 3.135 85.96 85.96 0 0 1-2.826 3.223 83.859 83.859 0 0 0-2.866 3.277 101.51 101.51 0 0 1-2.683 3.11 24.836 24.836 0 0 1-2.902 2.743 53.878 53.878 0 0 1-3.374 2.492 103.97 103.97 0 0 0-3.69 2.642 71.684 71.684 0 0 0-3.64 2.911 48.056 48.056 0 0 1-3.546 2.762 37.982 37.982 0 0 1-3.765 2.329 32.503 32.503 0 0 1-4.057 1.856 615.424 615.424 0 0 0-4.106 1.564c-1.353.52-2.71 1.05-4.07 1.587l-4.112 1.628c-1.38.548-2.832 1.099-4.355 1.655-1.523.556-3.01 1.109-4.463 1.658a50.833 50.833 0 0 1-4.573 1.48 412.02 412.02 0 0 1-4.425 1.186c-1.353.354-2.766.754-4.24 1.2-1.472.446-2.944.857-4.415 1.232-1.472.375-2.989.729-4.553 1.061-1.563.333-3.084.655-4.56.968a75.035 75.035 0 0 0-4.504 1.101c-1.525.422-3.087.878-4.686 1.367-1.598.489-3.21.993-4.833 1.512a72.712 72.712 0 0 1-4.973 1.393c-1.691.411-3.373.788-5.045 1.133-1.672.345-3.345.675-5.021.989-1.676.314-3.275.62-4.797.918a72.706 72.706 0 0 0-4.631 1.068c-1.565.414-3.099.8-4.602 1.159-1.504.358-2.914.697-4.23 1.015a44.873 44.873 0 0 1-3.665.741 49.115 49.115 0 0 1-3.2.396 19.33 19.33 0 0 1-3.194.001 94.448 94.448 0 0 0-3.264-.199 156.935 156.935 0 0 0-3.188-.106c-1.072-.025-1.874-.012-2.407.04-.533.052-.863.132-.99.24a1.435 1.435 0 0 1-.44.254 1.606 1.606 0 0 1-.497.1 1.63 1.63 0 0 1-.503-.065 1.404 1.404 0 0 1-.457-.221 1.838 1.838 0 0 1-.362-.356 1.308 1.308 0 0 1-.23-.453 1.962 1.962 0 0 1-.072-.502 1.292 1.292 0 0 1 .091-.499c.064-.162.146-.31.246-.444s.226-.248.375-.342c.15-.094.304-.162.464-.204.16-.043.329-.058.506-.046.177.012.341.052.494.118.151.067.295.157.43.27.134.113.241.244.32.393.08.149.14.307.18.475.04.167.045.337.018.507-.028.17-.076.332-.145.486a1.337 1.337 0 0 1-.293.415 1.781 1.781 0 0 1-.41.299 1.483 1.483 0 0 1-.483.153 1.537 1.537 0 0 1-.508-.009 1.686 1.686 0 0 1-.477-.171 1.367 1.367 0 0 1-.399-.315 1.902 1.902 0 0 1-.276-.425 1.288 1.288 0 0 1-.127-.491c-.01-.171.003-.34.037-.507a1.3 1.3 0 0 1 .197-.467c.097-.146.142-.218.136-.218-.006 0 .24-.196.737-.59.497-.393 1.17-.618 2.018-.674a34.609 34.609 0 0 1 2.932-.051c1.106.022 2.201.055 3.287.098 1.086.044 2.102.106 3.047.188.946.082 1.88.079 2.803-.009.924-.087 1.908-.21 2.955-.369a42.433 42.433 0 0 0 3.535-.71c1.311-.315 2.711-.646 4.201-.992 1.49-.347 3.047-.731 4.673-1.153a75.138 75.138 0 0 1 4.747-1.073l4.777-.911c1.644-.313 3.288-.64 4.932-.982 1.644-.342 3.27-.712 4.877-1.109a83.644 83.644 0 0 0 4.888-1.37 363.042 363.042 0 0 1 4.911-1.498c1.623-.482 3.236-.933 4.84-1.355a81.362 81.362 0 0 1 4.603-1.074c1.466-.295 2.965-.6 4.498-.917a101.496 101.496 0 0 0 8.831-2.237c1.52-.453 2.947-.856 4.28-1.208 1.333-.353 2.755-.733 4.265-1.141 1.51-.407 2.992-.89 4.447-1.446a242.353 242.353 0 0 1 4.442-1.65 146.408 146.408 0 0 0 4.32-1.633c1.374-.546 2.75-1.086 4.129-1.623l4.099-1.591a212.71 212.71 0 0 1 3.928-1.479 27.926 27.926 0 0 0 3.711-1.675 39.05 39.05 0 0 0 3.499-2.134 41.41 41.41 0 0 0 3.514-2.721 66.025 66.025 0 0 1 3.78-3.004c1.3-.958 2.523-1.826 3.667-2.604a68.824 68.824 0 0 0 3.118-2.24 20.235 20.235 0 0 0 2.696-2.501c.864-.954 1.765-1.987 2.706-3.1.94-1.112 1.898-2.203 2.871-3.272a112.662 112.662 0 0 0 2.83-3.226c.912-1.082 1.83-2.127 2.754-3.136a98.313 98.313 0 0 0 2.558-2.896 47.677 47.677 0 0 0 2.303-2.956 395.623 395.623 0 0 0 2.177-3.059 79.38 79.38 0 0 0 1.92-2.846c.581-.906 1.182-1.847 1.803-2.823s1.255-2.003 1.901-3.08a36.981 36.981 0 0 0 1.763-3.303 95.847 95.847 0 0 0 2.927-6.879 42.21 42.21 0 0 0 1.228-3.769c.37-1.338.776-2.601 1.216-3.788.441-1.188.823-2.42 1.148-3.698.325-1.278.568-2.547.73-3.808.162-1.26.249-2.509.26-3.746.011-1.236.055-2.406.13-3.507.075-1.102.149-2.147.22-3.133a26.61 26.61 0 0 0 .05-2.946 21.558 21.558 0 0 0-.27-2.733 19.56 19.56 0 0 0-.55-2.389 30.637 30.637 0 0 0-.75-2.193 16.464 16.464 0 0 1-.69-2.303c-.185-.822-.386-1.978-.602-3.47-.217-1.49-.345-2.624-.385-3.4a15.8 15.8 0 0 0-.3-2.342c-.16-.785-.225-1.262-.193-1.43a5.29 5.29 0 0 1 .111-.479.773.773 0 0 1 .286-.4c.148-.115.287-.202.417-.26.131-.059.289-.086.476-.081.187.005.347.042.48.111.133.07.267.165.4.286.133.121.22.26.26.418.04.157.07.235.09.234.02 0 .083.393.19 1.181h.01Z"
          ></path>
          <path
            d="M24.5 122.146c-.786.524-1.693 1.238-2.72 2.139a215.29 215.29 0 0 1-3.376 2.896 648.426 648.426 0 0 1-3.776 3.153 123.927 123.927 0 0 0-3.531 3.032 71.19 71.19 0 0 1-3.057 2.595 86.205 86.205 0 0 0-4.715 4.036c-.655.602-.45 1.033.615 1.291 1.064.259 2.312.561 3.744.906 1.432.345 2.86.742 4.282 1.192a37.66 37.66 0 0 1 3.895 1.453c1.173.519 2.156.916 2.949 1.192.792.276 1.661.575 2.606.896.944.321 1.477.512 1.596.571a1.206 1.206 0 0 1 .553.552 1.218 1.218 0 0 1-.03 1.145 1.218 1.218 0 0 1-1.359.586 1.217 1.217 0 0 1-.853-.764 1.204 1.204 0 0 1-.022-.781 1.22 1.22 0 0 1 1.59-.79 1.217 1.217 0 0 1 .766.852 1.234 1.234 0 0 1-.063.778 1.235 1.235 0 0 1-.521.582 1.236 1.236 0 0 1-.767.148l-.199-.027-1.443-.393c-.963-.262-1.904-.517-2.823-.764a21.427 21.427 0 0 1-3-1.083 38.329 38.329 0 0 0-3.662-1.366 66.294 66.294 0 0 0-4.08-1.167 84.115 84.115 0 0 0-3.626-.84c-1.058-.217-1.902-.556-2.53-1.018-.629-.461-.866-1.289-.713-2.484.153-1.194.57-2.103 1.25-2.726.68-.623 1.412-1.274 2.196-1.952a76.478 76.478 0 0 1 2.593-2.138c.944-.748 1.965-1.6 3.064-2.558 1.098-.957 2.3-1.96 3.603-3.009a395.929 395.929 0 0 0 3.784-3.079 199.406 199.406 0 0 0 3.504-2.951c1.116-.964 2.068-1.708 2.855-2.233.787-.526 1.258-.82 1.412-.883a1.235 1.235 0 0 1 .959 0c.154.064.287.155.4.272.113.118.203.254.27.408.067.153.1.314.1.48 0 .166-.034.326-.1.48a1.339 1.339 0 0 1-.27.407l-.17.176s-.392.263-1.18.788Z"
          ></path>
        </svg>
      </aside>
    </section>

    <section class="section">
      <!-- <Image src={moreEpisodesHeading} width={300} alt="Senaste avsnittet" /> -->
      <h2>Lite fler avsnitt</h2>
      <ul>
        {
          restEpisodes.map((episode) => (
            <li>
              <a href={`/${episode.slug}`}>{episode.data.title}</a>
              <time datetime={episode.data.date.toISOString()}>
                {episode.data.date.toDateString()}
              </time>
            </li>
          ))
        }
      </ul>
      <a href="/avsnitt">
        Ännu fler avsnitt
        <!-- <Image src={allEpisodes} width={200} alt="Senaste avsnittet" /> -->
      </a>
    </section>
  </main>
  <div class="pink-blob">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117 115">
      <path
        fill="currentColor"
        d="M71 33c8 9 21 7 30 11s14 15 15 26c1 12-2 25-10 33s-20 12-31 12c-12 0-22-6-27-13-6-8-7-18-13-24-7-6-19-8-26-15-8-7-11-19-7-28 4-8 14-14 25-22C37 6 46-3 53 2s10 23 18 31Z"
      >
      </path>
    </svg>
  </div>
  <div class="blue-blob">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 112 139">
      <path
        fill="currentColor"
        d="M79 29c14 12 33 18 33 26-1 8-19 18-32 23s-20 5-30 18c-11 14-24 40-34 42-10 3-17-17-15-34 2-16 14-28 21-36s9-12 13-26c3-14 7-38 14-41s16 16 30 28Z"
      >
      </path>
    </svg>
  </div>
</Layout>

<style>
  .logo {
    margin-bottom: 88px;
  }

  .section {
    width: 100%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
  }

  .latest-episode-title {
    margin-left: -90px;
    margin-bottom: -74px;
    display: flex;
    gap: 10px;
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'BNCE' -50, 'wght' 300;
  }

  .more-episodes-cta {
    font-family: 'Shantell Sans', system-ui, sans-serif;
    font-variation-settings: 'BNCE' -50, 'wght' 500;
    line-height: 1.1;
    position: sticky;
    bottom: -100px;
    margin-left: auto;
    margin-right: -180px;
    margin-bottom: -100px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .more-episodes-cta svg {
    margin-right: 40px;
  }

  .pink-blob {
    position: absolute;
    top: -85%;
    left: -20%;
    z-index: -1;
    width: 1200px;
    aspect-ratio: 1 / 1;
    color: #e59b96;
  }
  .blue-blob {
    position: absolute;
    top: 80%;
    left: -20%;
    z-index: -1;
    width: 700px;
    aspect-ratio: 1 / 1;
    color: #84c6c5;
  }
</style>
