---
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
import logo from '../images/logo.png'
import keysArrows from '../images/keys-arrows.png'
import keysLV from '../images/keys-lv.png'
import keysHome from '../images/keys-home.png'
import keysHeart from '../images/keys-heart.png'
import { Image } from 'astro:assets'
import GreenBlob from '../components/GreenBlob.astro'
import PinkBlob from '../components/PinkBlob.astro'
import BlueBlob from '../components/BlueBlob.astro'
import HomeLink from '../components/HomeLink.astro'
import anton from '../images/anton.png'
import therese from '../images/therese.png'
import maggan from '../images/maggan.png'
---

<Layout title="om oss - asdf">
  <HomeLink class="back-link" />
  <main class="main">
    <div class="logo">
      <a href="/">
        <Image
          src={logo}
          alt="asdfs logga: En handritad bild föreställande texten asdf ovanpå ett virrvarr av tangentbordstangenter"
          loading="eager"
        />
      </a>
    </div>
    <h1>Om oss</h1>
    <section class="section intro-section">
      <p>
        Som en liten parentes i cyberrymden spenderar Therése & Anton en halvtimme då och då med att prata
        ofiltrerat om kod, livet och allt däremellan.
      </p>
    </section>
    <section class="section">
      <h2>Therése</h2>
      <div class="therese">
        <p>
          Om Therése och utvecklar-yrket hade haft en relationsstatus hade det var “it’s complicated”. Hennes
          dagliga arbete kantas av beslutsvelande och brasklappande men på nåt sätt så tar hon sig ändå ofta i
          mål. I övrigt är hon en så kallad “bekvämemon” och gillar mjuka underlag, snacks och dålig tv.
          Ibland tar hon sig även till gymmet för att skaffa sig ett ryggskott eller två.
        </p>
        <Image src={therese} alt="En bild på Therése som tar en selfie i en spegel" loading="eager" />
      </div>
    </section>
    <section class="section">
      <h2>Anton</h2>
      <div class="anton">
        <Image
          src={anton}
          alt="En bild på Anton sittandes i en soffa med en dator i sitt knä, han håller upp armarna och har ett rycker-på-axlarna-uttryck."
          loading="eager"
        />
        <p>
          Anton kan tänka sig att ta sig an det mesta så länge det är kul. Han är ganska orädd, har ett lite
          för stort självförtroende för sitt eget bästa och jobbar mycket efter känslan “vad är det värsta som
          kan hända”. Allt går att nörda ner sig i, vare sig det är kod, brädspel eller cocktails och han
          älskar alla sällskapsdjur, trots att han är pälsallergiker. Säg hej om du ser honom, hans
          narcissistiska sida älskar det.
        </p>
      </div>
    </section>
    <section class="section maggan-section">
      <h2>Maggan</h2>
      <div class="maggan">
        <p>
          Maggan är Therése så kallade pandemihund som hatar att vara utomhus om omständigheterna inte är
          korrekta. Hon hatar kyla, blåst och smälter i regn men älskar att massakrera alla typer av leksaker,
          vilket vi har fått äran att höra i ett avsnitt eller två. Något som också gör henne till poddens
          enda gäst.
        </p>
        <Image src={maggan} alt="En bild på hunden Maggan som sover" loading="eager" />
      </div>
    </section>
    <Footer />
    <Image src={keysArrows} alt="" class="keys-arrows bg-image" />
    <Image src={keysLV} alt="" class="keys-lv bg-image" />
    <Image src={keysHome} alt="" class="keys-home bg-image" />
    <Image src={keysHeart} alt="" class="keys-heart bg-image" />
    <GreenBlob class="green-blob" />
    <PinkBlob class="pink-blob" />
    <BlueBlob class="blue-blob" />
  </main>
</Layout>

<style>
  .logo {
    display: flex;
    justify-content: center;
    margin: 0 auto 36px;
    position: relative;
    max-width: 500px;
  }

  .logo img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  h2 {
    font-size: 2rem;
    font-variation-settings: 'wght' 600;
  }

  .section {
    margin-bottom: 24px;
  }
  .intro-section {
    margin-bottom: 48px;
  }
  .anton img,
  .therese img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 280px;
    height: auto;
    transform: rotateZ(-1deg);
  }
  .anton,
  .therese,
  .maggan {
    display: flex;
    gap: 24px;
    margin-top: 16px;
  }
  .anton {
    margin-left: -128px;
  }
  .therese {
    margin-right: -128px;
    margin-bottom: -40px;
  }
  .therese img {
    margin-top: -64px;
  }
  .maggan-section {
    margin-top: 36px;
  }
  .maggan {
    gap: 16px;
  }
  .maggan img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 350px;
    height: auto;
    margin-top: -36px;
    margin-right: -36px;
  }

  .main {
    position: relative;
  }

  .green-blob {
    bottom: 200px;
    right: -800px;
    transform: rotateZ(90deg);
  }
  .pink-blob {
    top: -790px;
    left: -650px;
  }
  .blue-blob {
    bottom: -100px;
    left: -700px;
    transform: rotateZ(-90deg);
  }
  .keys-heart {
    width: 160px;
    top: 150px;
    left: -320px;
  }
  .keys-arrows {
    top: 350px;
    right: -160px;
    width: 200px;
    transform: rotateZ(-10deg);
  }
  .keys-lv {
    top: 900px;
    width: 220px;
    left: -320px;
    transform: rotateZ(160deg);
  }
  .keys-home {
    top: 600px;
    right: -520px;
    width: 200px;
  }
  .back-link {
    left: 16px;
    top: 16px;
  }

  @media (max-width: 820px) {
    .therese,
    .anton,
    .maggan {
      flex-direction: column;
      margin: 0;
    }
    .anton {
      flex-direction: column-reverse;
    }
    .therese img {
      margin: 0;
    }

    .maggan img {
      margin: 0;
    }
  }

  @media (max-width: 720px) {
    .back-link {
      display: none;
    }
  }
</style>
